*{
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
    
}

body{
    background-color:#3aafa9;
font-family: 'Playfair Display', serif;

}

nav{
    display: flex;
    justify-content: space-around;
    background-color:#3aafa9;
    align-items: center;
    height: 5.8rem;

}
nav .left{
    color:#feffff;
    font-size: 6rem;
    
    
    

}
nav .right{

    padding: 1rem;
    margin-top: 1.4rem;
    padding-left: 10rem;
    font-weight: 400;


}
/*_______________________ yeh search button ki css hai___________________________________ */
#form {
    background-color:#3aafa9 ;
    border: 1px solid rgb(31, 31, 31);
    border-radius: 2.5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 1.8rem;
    

}
#form:hover{
    box-shadow: -1px 0 coral, 0 1px rgb(201, 12, 135), 1px 0 coral, 0 -1px rgb(224, 12, 164);
    border: hidden;
    transition: 0.4s;
}
input{
    all: unset;
    text-align:center;
    font: 1.6rem system-ui;
    height: 5vh;
    width: 15rem;

}
::placeholder{
    color: #17252a;
    opacity: 0.6;
    text-align: center;

    
}

button{
    all: unset;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding: 10px;
}

svg{
    color: #f4f1f1;
  fill: currentColor;
}

svg:hover{
    color: #17252a;
    transition: 0.4s;
}
/* _____________________________________________________________________________________- */

nav ul{
    display: flex;
    justify-content: center;
    
} 
nav ul li {
    color: #17252a;
    list-style: none;
    font-size: 2.5rem;
    margin: 0 20px;
  
}
nav ul li a {
    text-decoration: none;
    color: #17252a;
    font-weight: 600;

    
}
nav ul li a:hover{
    color: whitesmoke;
    font-size: 18px;
    margin: 0 15px;
    transition: 0.4s;
    
}
